.container {
    width: 100%;
    height: 100%; /* ELMERI: Tää oli mun jäljiltä jäänyt 100vh eli näytti vaan yhden "ruudullisen" eikä skaalautunut materiaalin mukaan */
    background-color: #000000;
    margin-top: 56px;
    display: flex;
    justify-content: center;
}

.text-container {
    /* tekstilaatikko */
    margin-top: 5rem; /* ELMERI: tilaa ylös */
    margin-bottom: 5rem; /* ELMERI: tilaa alas */
    width: 60%;
    font-size: 16px;
    text-align: center;
    color: white;
    border: 1px solid blue; /* ELMERI: "debuggaus" borderi, näkee miten laatikko menee */
    padding: 1rem;
}
h1 {
    font-size: 22px;
}

.text-otsikko {
    font-size: 24px;
}
.text-esittely {
    font-size: 20px;
}
.h2 {
    font-size: 22px;
}
.oikealle {
    
}
.text-container .text {
    /* tekstilaatikon palat */
    border: 1px solid red; /* ELMERI: "debuggaus" borderi, näkee miten laatikot menee */
    padding: 1rem;
}
@media screen and (max-width: 768px) {
    .image {
        display: none;
    }
}