.footer {
    background-color: #398092;
    color: #fff;
    padding: 20px 0;
    font-family: Arial, sans-serif;
    
}

.footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    margin: 0 auto;
    min-height: 100%;
}

.footer-section {
    flex: 1;
    min-width: 250px;
    margin: 10px 20px;
}

.footer-section h3 {
    color: #fff;
    margin-bottom: 15px;
    font-size: 18px;
}

.footer-section p, .footer-section li {
    color: #bbb;
    line-height: 1.6;
    margin-bottom: 10px;
}

.footer-section a {
    color: #046bf3;
    text-decoration: none;
}

.footer-section a:hover {
    text-decoration: underline;
}

.team {
    list-style-type: none;
    padding-left: 0;
}

.footer-bottom {
    text-align: center;
    padding-top: 20px;
    border-top: 1px solid #444;
    margin-top: 20px;
    color: #bbb;
    font-size: 14px;
}

/* Responsiivisuutta */
@media (max-width: 768px) {
    .footer-section {
        flex: 100%;
        text-align: center;
    }
}