* {
    font-family: "Orbitron", sans-serif;
}

html, body {
    min-height: 100%;
}

.header {
    width: 100vw;
    position: fixed;
    top: 0;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    backdrop-filter: blur(20px);
    background-color: #B04A1E;

}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    z-index: 4;
}
.logo {
    margin-left: 2rem;
}

.logo-image {
    width: 30px;
}

.logo-image:hover {
    animation: rotation 1s infinite linear;
}

.navbar {
    display: flex;
    align-items: center;
    z-index: 3;
    padding-right: 1rem;
}

.nav-menu {
    display: flex;
}

.nav-item {
    background-color: #B04A1E;
    padding: 1.2rem;
    border: 1px solid transparent;
}

.nav-item:last-child {
    background-color: #B04A1E;
}

.nav-link {
    color: #fff;
    text-transform: uppercase;
}

.burger-hide-desktop {
  display: none;
}

.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
    background-color: #fff !important;
}

.dropdown-parent {
    position: relative;
}

.dropdown-menu {
    display: none;
    position: absolute;
    background-color: #B04A1E;
    top: 55px;
    right: 0;
    width: 230px;
    /* POISTA tai ÄLÄ käytä kiinteää height-arvoa */
    /* height: auto;  --> tämä riittää, mutta voit poistaa sen kokonaan */
    max-height: none; /* varmistaa ettei max-height rajoita */
    overflow: visible; /* oletusarvo, jotta sisältö ei katkea */
    color: white;
    z-index: 5;
}


.dropdown-menu li {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 1rem;
}

.dropdown-menu li:hover {
    text-decoration: underline;
}

.dropdown-menu span {
    display: flex;
    border: 1px solid white;
    width: 90%;
    margin-left: 0.5rem;
}

.active {
    display: block;
}



/* HEADER ANIMATIONS */


.nav-item:hover:not(:last-child) {
    position: relative;
    top: 5px;
    border: 1px solid white;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


.hide-on-desktop {
    display: none !important;
}

@media (max-width: 1023px) {
  .hide-on-desktop {
    display: block !important;
  }

  .nav-link {
    display: none;
  }

}

