/* Etusivu */

html, body {
  margin: 0;
  padding: 0;
  height: 100%;     /* venyttää koko viewportin */
  overflow-x: hidden; /* estää vaakasuuntaisen scrollin */
}

.container {
  display: flex;


}

.background-video {
  object-fit: cover;
  
}

.dimmer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;    /* fallback */
  height: 100dvh;   /* iOS Safari huomioi osoitepalkin */
  z-index: -1;
  overflow: hidden;
}

#background-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  -o-object-fit: cover;           /* vanhat Operat */
  -webkit-object-fit: cover;      /* vanhat Safarit */

  /* Safari-renderöinnin pakotus */
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}



