/* Etusivu */

html, body {
  margin: 0;
  padding: 0;
  height: 100%;     /* venytt채채 koko viewportin */
  overflow-x: hidden; /* est채채 vaakasuuntaisen scrollin */
}

.container {
  display: flex;


}

.background-video {
  object-fit: cover;
  
}

.dimmer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;    /* fallback */
  height: 100dvh;   /* iOS Safari huomioi osoitepalkin */
  z-index: -1;
  overflow: hidden;
}

#background-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


